fastapi==0.115.0
uvicorn[standard]==0.30.6
greenlet==3.0.3
SQLAlchemy==2.0.35
httpx==0.27.2
python-dotenv==1.0.1
pydantic==2.9.2
pydantic-settings==2.5.2
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
PyJWT==2.9.0
cryptography==43.0.1
reportlab==4.2.5
python-multipart==0.0.12
PyMySQL==1.1.1
